<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <text>Login</text>
        <form>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <a href="/registration">
            <button class="button">Register</button>
        </a>
    </div>
</body>
</html>